.campaignContainer {
  display: flex;

  .leftPanel {
    margin-right: 100px;
  }

  .rightPanel {
    width: 440px;
    max-height: 657px;
  }
}

.section {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
  margin: 15px 0;

  .circle {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: linear-gradient(332.1deg, #86F7B1 14.81%, #2C67FF 62.34%);
    margin-right: 16px;
  }
}

.progressCard {
  background: linear-gradient(270deg, #82F1B5 0%, #2E6AFE 100%);
  border-radius: 10px;
}
