{
    "active": {
        "booleanValue": true
    },
    "email": {
        "stringValue": "${email}"
    },
    "kind": {
        "stringValue": "approvers"
    },
    "name": {
        "stringValue": "Seeded test user"
    }
}