${jsonencode({
    name = {
        stringValue = name
    }
    description = {
        stringValue = description
    }
    imageUrl = {
        stringValue = imageUrl
    }
    active = {
        booleanValue = active
    }
})}