{
  "plugins": [
    "react",
    "react-hooks"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-no-duplicate-props": "error",
    "semi": ["error", "never"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }]
  },
  "settings": {
    "react": {
      "version": "17.0.2"
    }
  }
}
