Flask==2.3.3
firebase-admin==6.4.0
gunicorn==22.0.0
google-auth==2.27.0
requests==2.31.0
pytz==2023.4
opentelemetry-distro==0.33b0
opentelemetry-instrumentation-flask==0.33b0
opentelemetry-exporter-gcp-trace==1.6.0
importlib-metadata==6.11.0
../client-libs/python
