Flask==2.3.2
firebase-admin==6.2.0
gunicorn==20.1.0
google-auth==2.20.0
requests==2.31.0
pytz==2023.3
opentelemetry-distro==0.33b0
opentelemetry-instrumentation-flask==0.33b0
opentelemetry-exporter-gcp-trace==1.5.0
importlib-metadata==6.7.0
../client-libs/python
