.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.cardWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  
  .title {
    font-size: 28px;
    color: black;
    margin-bottom: 10px;
  }
  
   .description {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    color: #5C6063;
  }
}

.actionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
