flask==2.3.2
google-cloud-firestore==2.13.1
Flask-Cors==4.0.0
gunicorn==20.1.0
google-auth==2.32.0
requests==2.31.0
pytest-is-running==1.5.1
# opentelemetry libraries
opentelemetry-api==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-distro==0.42b0
opentelemetry-exporter-gcp-trace==1.6.0
opentelemetry-instrumentation==0.42b0
opentelemetry-instrumentation-flask==0.42b0
opentelemetry-resourcedetector-gcp==1.5.0a0
opentelemetry-semantic-conventions==0.42b0
opentelemetry-propagator-gcp==1.6.0
